.cont {
  background-color: #0b2239;
}
.mobile_header_root {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .header_root {
    display: none;
  }
  .mobile_header_root {
    display: flex;
  }
  .logo-title {
    display: none;
  }
  .logo-title_min {
    display: none;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  .a_title {
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
}
.tool_b_mobile {
  display: grid;
  width: "100%";
  grid-template-columns: 30% 70%;
}

.tool_b {
  display: grid;
  grid-template-columns: 20% 50% 30%;
}

.logo-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo {
  width: 100px;
  height: 100px;
}
.logo-title {
  font-size: 35px;
}
.logo-title_min {
  font-size: 20px;
}
.list_a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
.list_a:hover {
  color: aqua;
}
